<div id="planBox" class="fluid-container" xmlns="http://www.w3.org/1999/html">


    <div class="row">
        <div class="col-md-3">
            <div class="row card wikiBox">
                <div class="col-md-12 cardTitle" ng-click="originCollapsed = !originCollapsed">{{origin.name}} <i class="fa fa-bars pull-right"></i> </div>
                <div class="cardBody" collapse="originCollapsed"><div class="textWiki" ng-bind-html="origin.wiki"></div></div>
            </div>
            <div class="row card transportBox" ng-controller="transportCtrl">
                <div class="col-md-12 cardTitle" ng-click="routesCollapsed = !routesCollapsed">Routes <i class="fa fa-bars pull-right"></i></div>
                <div class="cardBody" collapse="routesCollapsed">
                    <accordion close-others="true">
                        <accordion-group ng-repeat="route in transportData.routes" is-open="isopen">
                            <accordion-heading>
                                <div class="row myPanelHeading" ng-style="{background: route.routeColor}" routeheading ng-click="selectRoute($index)"></div>
                            </accordion-heading>
                            <div class="row" ng-repeat="raasta in route.raaste">
                                <div ng-style="{background: route.routeColor}" class="raastaRow" ng-click="selectSegment($index)" raastadir></div>
                            </div>
                        </accordion-group>
                    </accordion>
                </div>
            </div>
        </div>

        <div id="mapBox" class="card col-md-6" ng-controller="mapCtrl">
            <div id="map-canvas"></div>
        </div>

        <div class="col-md-3">
            <div class="row card weatherBox">
                <div class="col-md-12 cardTitle" ng-click="weatherCollapsed = !weatherCollapsed">Weather <i class="fa fa-bars pull-right"></i> </div>
                <div class="cardBody" collapse="weatherCollapsed">
                    <div class="textWeather">
                        <h4>{{origin.name}}</h4>
                        {{origin.weather.weather[0].description}}
                        {{origin.weather.main.temp}} &deg;

                        <h4>{{destination.name}}</h4>
                        {{destination.weather.weather[0].description}}
                        {{destination.weather.main.temp}} &deg;
                    </div>
                </div>
            </div>
            <div class="row card wikiBox">
                <div class="col-md-12 cardTitle" ng-click="destinationCollapsed = !destinationCollapsed">{{destination.name}} <i class="fa fa-bars pull-right"></i></div>
                <div class="cardBody" collapse="destinationCollapsed"><div class="textWiki" ng-bind-html="destination.wiki"></div></div>
            </div>
        </div>
    </div>
</div>

