<div id="planBox" class="fluid-container">


    <div class="row">
        <div class="col-md-3">
            <div class="row card wikiBox">
                <div class="col-md-12 textWikiTitle">{{origin.name}}</div>
                <div class="col-md-12 textWiki" ng-bind-html="origin.wiki"></div>
            </div>
            <div class="row card transportBox" ng-controller="transportCtrl">
                <accordion close-others="true">
                    <accordion-group ng-repeat="route in transportData.routes">
                        <accordion-heading>
                            <div class="row myPanelHeading" ng-style="{background: route.routeColor}" routeheading ng-click="selectRoute($index)"></div>
                        </accordion-heading>

                        <div class="row" ng-repeat="raasta in route.raaste">
                            <div ng-style="{background: route.routeColor}" class="raastaRow" raastadir></div>
                        </div>


                    </accordion-group>
                </accordion>
            </div>
        </div>

        <div id="mapBox" class="card col-md-6" ng-controller="mapCtrl">
            <gm-map gm-map-options="mapData.mapOptions" gm-map-id="mapData.mapId" style="height:100%; width:100%;">
                <gm-markers gm-objects="transportData.routes[transportData.selectedRouteIndex].stops" gm-get-lat-lng="{ lat: object.pos.split(',')[0], lng: object.pos.split(',')[1] }" gm-get-marker-options="object.options" >
                            <!--gm-on-click="selectVolcano(object, marker)"-->
                </gm-markers>

                <gm-polylines gm-objects="transportData.routes[transportData.selectedRouteIndex].segments" gm-get-path="object.decodedPath" gm-get-polyline-options="getPolyLineOptions(transportData.selectedRouteIndex)"></gm-polylines>
            </gm-map>
        </div>

        <div class="col-md-3 <!--col-md-offset-6-->">
            <div class="row card weatherBox">{{weatherData | json}}</div>
            <div class="row card wikiBox">
                <div class="col-md-12 textWikiTitle">{{destination.name}}</div>
                <div class="col-md-12 textWiki" ng-bind-html="destination.wiki"></div>
            </div>
        </div>
    </div>
</div>

