<div class="container">

    <div id="searchBox">
        <h1><i class="fa fa-globe fa-4x globe"></i> Gu<span class="yellow">ll</span>iver</h1>
        <div class="row">
            <div class="col-md-8 col-sm-offset-2 searchError" ng-show="isErrored">C'mon! Pick 2 places and find your way..</div>
        </div>
        <div class="row textcenter">
                <input type="text" ng-autocomplete class="searchInput input-large" ng-class="{'has-error': !origin.name}" ng-model="origin.name" details="origindetails" placeholder="from"/>

                <input type="text" ng-autocomplete class="searchInput input-large" ng-class="{'has-error': !destination.name}" ng-model="destination.name" details="destinationdetails" placeholder="to"/>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-offset-3">
                <button type="button" ng-click="search()" class="btn btn-warning btn-lg btn-block">Find me a way!</button>
            </div>
        </div>
    </div>
</div>