<div class="container">
    <h1><i class="fa fa-globe fa-4x"></i> Gulliver</h1>
    <div id="searchBox">
        <div class="row">
            <div class="col-md-5 col-sm-offset-1">
                <input type="text" class="searchInput input-large" ng-class="{'has-error': !origin}" ng-model="origin" placeholder="from" ui-keypress="{13:'search($event)'}"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5 col-sm-offset-6">
                <input type="text" class="searchInput input-large" ng-class="{'has-error': !destination}" ng-model="destination" placeholder="to" ui-keypress="{13:'search($event)'}"/>
            </div>
        </div>
    </div>
</div>